body {
  background-color: #2A263F;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding-top: 5%;
}

.mainphoto {
  width: 100%;
  height: 60vh;
}
.mainphoto img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.maininformation {
  width: 100%;
  padding: 3% 8%;
  text-align: center;
  font-size: 24px;
  color: #EEEAEE;
}
.maininformation h2 {
  text-transform: uppercase;
  margin-bottom: 2%;
}

.photo {
  width: 100%;
  padding: 3%;
  background-color: #EEEAEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photo img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  width: 100%;
  height: 50vh;
  border: 3px solid #8243D3;
}

figcaption {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20%;
  color: #fff;
  text-shadow: 1px 1px 3px #010101;
  position: absolute;
  inset: 0;
}
figcaption::after, figcaption::before {
  pointer-events: none;
  position: absolute;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
figcaption::after {
  inset: 5% 7%;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
figcaption::before {
  inset: 7% 5%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

figcaption p {
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.4s;
  transition: opacity 0.5s, -webkit-transform 0.4s;
  transition: opacity 0.5s, transform 0.4s;
  transition: opacity 0.5s, transform 0.4s, -webkit-transform 0.4s;
}

figure {
  position: relative;
  overflow: hidden;
  width: 30%;
  height: 50vh;
  text-align: center;
  -webkit-box-shadow: -1px 1px 15px -5px #010101;
          box-shadow: -1px 1px 15px -5px #010101;
}
figure:hover img {
  opacity: 0.8;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
figure:hover figcaption::after, figure:hover figcaption::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
figure:hover figcaption::after {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
figure:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
figure:hover p, figure:hover img {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.containerhistory {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1%;
  padding: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.containerhistory .informimg {
  width: 47%;
  height: 60vh;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 1%;
}
.containerhistory .informimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.containerhistory .informimg img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.containerhistory .information {
  width: 44%;
  height: 60vh;
  padding: 2%;
  background-color: #EEEAEE;
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.containerhistory .information div {
  text-align: center;
  font-size: 24px;
}