@media screen and (max-width: 1000px) and (min-width: 787px) {
  .cartinfo {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .containerr .pp {
    font-size: 32px;
    top: 80px;
  }
  .button_swiper_link {
    width: 160px;
    font-size: 14px;
    padding: 5px 15px;
    top: 110px;
  }
  .cart {
    width: 70%;
    margin-bottom: 3%;
  }
  .afishawrapper, .collectivewrapper {
    width: 80vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
  .cart:hover .cartinfo {
    top: 15%;
  }
  .cartbutton {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none;
  }
  .containerr .pp {
    font-size: 20px;
    top: 60px;
    left: 10%;
  }
  .swiper {
    height: 50vh;
    margin: 0;
    background-color: black;
  }
  .cartinfo {
    font-size: 24px;
  }
  .namespec {
    font-size: 14px;
  }
  .button_afisha_link, .button_collective_link {
    font-size: 14px;
  }
  .button_swiper_link {
    top: 80px;
  }
}
@media screen and (min-height: 650px) and (max-width: 1100px) {
  .cart {
    width: 70%;
    height: 40vh;
    margin-bottom: 3%;
  }
  .afishawrapper, .collectivewrapper {
    width: 80vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
}
@media screen and (min-height: 850px) {
  .containerr .pp {
    top: 15%;
    left: 10%;
  }
}
@media screen and (max-width: 250px) {
  .containerr .pp {
    font-size: 16px;
  }
}
@media screen and (min-height: 900px) and (max-width: 900px) {
  .afishawrapper, .collectivewrapper {
    margin-top: 3%;
  }
  .afisha_h1, .collective_h1 {
    margin-top: 5%;
  }
}