@media screen and (width <= 1433px) and (width >= 1148px) {
  .dateblock {
    padding: 2% 25%;
  }
}
@media screen and (width <= 1148px) and (width >= 952px) {
  .dateblock {
    padding: 2% 20%;
  }
}
@media screen and (width <= 952px) and (width >= 816px) {
  .dateblock {
    padding: 2% 15%;
  }
}
@media screen and (width <= 816px) {
  .dateblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2% 0;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 14%;
  }
  .day {
    text-align: center;
  }
}
@media screen and (width <= 575px) {
  .dateblock .day {
    font-size: 21px;
  }
}
@media screen and (width <= 768px) and (width >= 482px) {
  .inform {
    font-size: 21px;
  }
  .zagolov {
    font-size: 36px;
  }
}
@media screen and (width <= 482px) {
  .inform {
    font-size: 16px;
    top: 35%;
  }
  .zagolov {
    font-size: 28px;
  }
}
@media screen and (width <= 562px) {
  .informblock h1, .photo h1 {
    font-size: 24px;
  }
  .informblock .inform-perfomance {
    font-size: 16px;
  }
  .photo .cart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photo img {
    width: 65%;
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 2%;
  }
}
@media screen and (width <= 1140px) and (width >= 887px) {
  .references .refs {
    gap: 3%;
  }
  .references .ref1, .references .ref2, .references .ref3 {
    width: 30%;
  }
}
@media screen and (width <= 887px) and (width >= 427px) {
  .references .refs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .references .ref1, .references .ref2, .references .ref3 {
    width: 60%;
    margin-bottom: 2%;
  }
}
@media screen and (width <= 427px) {
  .references .refs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .references .ref1, .references .ref2, .references .ref3 {
    width: 80%;
    margin-bottom: 2%;
  }
}
@media screen and (width <= 600px) {
  .form {
    width: 80%;
  }
  input, textarea {
    width: 90%;
  }
  .form button {
    font-size: 16px;
  }
}
@media screen and (width <= 768px) and (width >= 465px) {
  .button-date {
    padding: 10px 15px;
  }
}
@media screen and (width <= 566px) and (width >= 465px) {
  .button-date {
    font-size: 14px;
  }
}
@media screen and (width <= 465px) {
  .button-date {
    font-size: 12px;
    width: 60%;
    padding: 10px 10px;
  }
  .dateblock .day {
    width: 60%;
  }
}