@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../image/dopinformation/tickback.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Фон страницы фиксируется */
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  inset: 0;
  margin: auto;
  width: 60%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.firstsection {
  background-color: #2A263F;
  opacity: 0.7;
  padding-right: 5%;
  width: 30%;
}

.secondsection {
  background-color: #2A263F;
  padding: 2%;
  width: 70%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
}

div.inform, .informaplace1, .informaplace2 {
  color: #fff;
  font-size: 18px;
}

.day1, .day2, .time1, .time2 {
  margin: 2% 0 0 8%;
  color: #fff;
}

.day2 {
  margin-bottom: 30px;
}

.day1 {
  margin-top: 8%;
}

.active {
  color: #8243D3;
}

.waysofbuying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}