@import "variablesmain";

.maincontainer {
    width: 80%;
    margin: auto;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    height: 55vh;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
	justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;

    div {
        font-size: 26px;
    }
}

#afishacontainer {
    img {
        width: 20vw;
        height: 40vh;
        object-fit: cover;
        border: 3px solid $colorpurple;
        margin-right: 5vh;
        transition: 0.5s;

        &:hover {
            box-shadow: 0 0 15px $colorpurple;
        }
    }

}

h1 {
    text-transform: uppercase;
    color: $colorblack2;
    text-align: center;
    margin-bottom: 3%;
}

body {
    background-color: $colorwhite2;
    padding-top: 120px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
}

.date {
    font-weight: 700;
}

.button {
	position: relative;
	background-color: $colorblack2;
	color: $colorblack2;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 10px 30px;
	transition: 0.5s;
	text-align: center;
    width: 190px;
  }

  .button:hover {
	background: $colorpurple;
	color: var(-clr);
	letter-spacing: 0.15em;
	box-shadow: 0 0 15px $colorpurple;
  }

  .button::before {
	content: '';
	position: absolute;
	inset: 2px;
	background: $colorwhite2;
  }
  
  .button span {
	position: relative;
	z-index: 1;
  }

footer {
    margin-top: 4vh;
}