@import "variablesmain";

body {
    padding-top: 80px;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: $colorwhite2;
}

.containertickets {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

.firsthalf {
    width: 65%;
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $colorwhite;
    border-radius: 2%;
    box-shadow: 0 1px 6px $colorblack2;
}

.secondhalf {
    width: 30%;
    height: 85vh;
    background-color: $colorwhite;
    border-radius: 2%;
    box-shadow: 0 1px 6px $colorblack2;
}

#informpart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
    width: 100%;

    #title, #time, .theatre {
        font-size: 26px;
    }

    #title {
        font-weight: 800;
        text-transform: uppercase;
    }

    .theatre {
        margin-left: 5%;
    }
}

.input-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.radioinput {
    width: 40%;
    display: flex;
    flex-direction: column;

    .input-control {
        div {
            display: flex;
            align-content: center;
            align-items: center;
        }
    }
}

#basketpart {
    overflow: auto;
    height: 65vh;
    padding: 2%;

    div {
        font-size: 18px;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        margin-bottom: 2%;
        padding-left: 2%;

        div {
            flex-basis: 50%;
        }
    }
}

#cointer {
    height: 20vh;
    border-top: 3px $colorwhite2 solid ;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10%;

    .ticketsbutton {
        width: 60%;
        height: 30px;
        font-weight: 700;
        background-color: $colorpurple;
        text-transform: uppercase;
        transition: .5s;
        letter-spacing: .1em;
        color: $colorwhite2;

        &:hover {
            @include border($colorpurple);

            box-shadow: 0 0 15px $colorpurple;
            letter-spacing: .15em;
        }
    }

    .kolich {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
}

circle {
    cursor: pointer;
}

.trash-button {
    background-color: transparent;
    order: -1; /* сдвигаем первый элемент на первое место */
    align-self: flex-end;
    margin: 0;
    cursor: pointer;
  }

.nameofspec {
    text-transform: uppercase;
    font-weight: 700;
}

.empty {
    text-transform: uppercase;
    margin-top: 3%;
    text-align: center;
}

.formcontainer {
    background-color: $colorwhite2;
    padding: 5%;
    display: none;
}

.form {
    width: 80%;
    height: auto;
    border-radius: 10px; 
    background-color: $colorwhite2;
    box-shadow: 0 4px 16px $colorblack2;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: flex-end;
    padding: 2%;

    button {
        width: 180px;
        height: 50px;

        @include border($colorpurple);

        background-color: $colorpurple;
        color: $colorwhite2;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        transition: .2s linear;
        margin: 0 0 0 3%;
        letter-spacing: .1em;
        text-transform: uppercase;
        margin-top: 15vh;
        align-self: flex-end;
    }
}

.contacts {
    width: 60%;
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 10px; 
    font-size: 20px;
    margin: 10px 0;
    border: 3px solid transparent;
    height: 7vh;
    background-color: $colorwhite;
}

input[type="radio"] {
    width: 10%;
    height: 5vh;
}

.oplata1 {
    height: 8vh;
}

.oplata2 {
    height: 14vh;
}

textarea {
    height: 40%;
    resize: none; 
}

input {
    height: 10%;
}

.form h2 {
    font-size: 20px;
    color: $colorblack2;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}


.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 80%);
    display: none;
}

.popup {
    position: absolute;
    background: #fff;
    width: 60%;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 10%;
    font-size: 21px;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input, .input-control.success textarea {
    border-color: #09c372;
}

.input-control.error input, .input-control.error textarea {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    margin: 0 0 5%;
}