@import "variablesmain.scss";

body {
    background-color: $colorwhite2;
    font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
    margin: 110px 0px 30px;
    text-transform: uppercase;
    color: $colorblack2;
    text-align: center;
}

.information {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.zagolovok {
    font-weight: bold;
}

.text {
    font-weight: 200;
}

.zagolovok, .text {
    color: $colorblack2;
    font-size: 21px;
}

.infa {
    width: 33%; 
}

.sectionone, .sectiontwo {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 4%;
    gap: 5%;
}