@media screen and (width <= 990px) and (width >=768px) {
    div.inform, .informaplace1, .informaplace2 {
        font-size: 16px;
    }

    .waysofbuying {
        gap: 6%;
    }

    .form {
        width: 75%;
    }
}

@media screen and (width <= 768px) {
    .form {
        flex-direction: column;
        width: 70%;
    }

    .firstsection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20%;
    }

    .secondsection {
        width: 100%;
        padding: 5%;
    }

    .day1 {
        margin-top: 2%;
    }

    .day1, .day2, .time1, .time2  {
        margin: 2% 0;
    }
}

@media screen and (width <= 624px) {
    .waysofbuying {
        flex-direction: column;
    }

    h2 {
        font-size: 21px;
    }
}

@media screen and (width <= 438px) {
    .form {
        flex-direction: column;
        width: 90%;
    }
    
    div.inform, .informaplace1, .informaplace2, .day1, .day2, .time1, .time2 {
        font-size: 14px;
    }
}