@media screen and (width <=1115px) and (width >=963px) {
    .header-link {
        font-size: 17px;
        margin-right: 22px;
    }
}

@media screen and (width <=963px) and (width >=857px) {
    .header-link {
        font-size: 16px;
        margin-right: 16px;
    }

    .logo {
        height: 55px;
        width: 240px;
    }
}

@media screen and (width <=857px) and (width >=768px) {
    .header-link {
        font-size: 15px;
        margin-right: 10px;
    }

    .logo {
        height: 50px;
        width: 220px;

    }
}

@media screen and (width <= 768px) {
    .header-list {
        display: block;
    }

    .header-link {
        margin-right: 0;
    }

    .header-list li {
        margin: 0 0 20px;
    }

    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header-burger::after, .header-burger::before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header-burger::after {
        bottom: 0;
    }

    .header-burger::before {
        top: 0;
    }

    .header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .header-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100%;
        background-color: #1C1B23;
        transition: all 0.3s ease 0s;
        padding: 70px 10px 20px;
        overflow: auto;
    }

    .header-menu.active {
        right: 0;
    }

    .header-body {
        height: 50px;
    }

    .logo {
        height: 45px;
        width: 220px;
        margin-top: 0;
    }

    .header-logo {
        padding-bottom: 5px;
    }
    
    body.lock {
        overflow: hidden;
    } 

    .sub-menu-list {
        position: relative;
        background-color: transparent;
        padding: 0 0 0 60px;
        margin-bottom: 50px;
    }
    
    .sub-link {
        font-size: 15px;
    }
}