@media screen and (max-width: 1050px) and (min-width: 768px) {

    div.inform, .informaplace1, .informaplace2 {
        font-size: 14px;
    }

    .informplace {
        margin-top: 25%;
    }

    .waysofbuying {
        gap: 6%;
    }
}

@media screen and (max-width: 768px) {

    .form {
        flex-direction: column;
        width: 70%;
    }

    .firstsection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20%;
    }

    .secondsection {
        width: 100%;
        padding-bottom: 2%;
    }

    .day1 {
        margin-top: 2%;
    }

    .day1, .day2, .time1, .time2  {
        margin: 2% 0;
    }
}

@media screen and (max-width: 624px) {

    .waysofbuying {
        flex-direction: column;
    }

    .informaplace2 {
        margin-top: 8%;
    }

    h2 {
        font-size: 21px;
    }
}

@media screen and (max-width: 438px) {

    .form {
        flex-direction: column;
        width: 90%;
    }
    
    div.inform, .informaplace1, .informaplace2, .day1, .day2, .time1, .time2 {
        font-size: 14px;
    }
}