@media screen and (max-width: 1070px) {

    .containerhistory .information div, .maininformation, .maininformation h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 486px) {

    .containerhistory .information div, .maininformation, .maininformation h2 {
        font-size: 16px;
    }

    .mainphoto, .mainphoto img {
        height: 40vh;
    }

    figcaption p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {

    .containerhistory .information {
        width: 100%;
        height: 40vh;
    }
}

@media screen and (max-width: 768px) {

    .containerhistory, .photo {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .information {
        width: 80%;
    }

    figure {
        width: 80%;
        height: 60vh;
    }

    .containerhistory .informimg, .photo img {
        width: 100%;
        height: 60vh;
    }

    figure {
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 1241px) and (min-width: 960px){

    figcaption {
        padding: 15%;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    
    figcaption {
        padding: 10%;
    }
}