

@media screen and (width <= 1170px) and (width >=955px) {
    #informpart #title, #informpart #time, #informpart .theatre {
            font-size: 21px;
        }
}

@media screen and (width <= 955px) and (width >=620px) {
    #informpart #title, #informpart #time, #informpart .theatre {
            font-size: 16px;
        }
}

@media screen and (width <= 620px) {
    #informpart #title, #informpart #time, #informpart .theatre {
            font-size: 16px;
        }

        #informpart {
            text-align: center;
        }

    .empty {
        font-size: 18px;
    }
}

@media screen and (width <= 768px) {
    .firsthalf {
        width: 90%;
        margin-bottom: 2%;
        height: auto;
    }

    #svg-container {
        margin-top: 5%;
    }

    #informpart {
        height: 20%;
    }

    .secondhalf {
        width: 90%;
        border-left: 0;
        padding-top: 5%;
        height: auto;
        margin-bottom: 5%;
    }

    body {
        height: 200vh;
        padding-bottom: 3%;
    }

    #basketpart {
        height: auto;
        overflow:hidden;
    }

    #cointer {
        border-top: 0;

        .ticketsbutton {
            width: 150px;
            height: 30px;
            font-size: 12px;
        }
    }

    .containertickets {
        height: auto;
    }

    #basketpart div {
        padding-left: 3%;
    }

    .form {
        flex-direction: column;
    }

    .contacts {
        width: 90%;
    }

    .radioinput {
        width: 90%;
    }

    .form button {
        margin-top: 2vh;
    }
}

@media screen and (width <= 768px) and (width >=480px){
    .popup {
        font-size: 16px;
    }
}

@media screen and (width <= 480px) {
    .form button {
        align-self: flex-start;
    }

    .form {
        width: 90%;
    }

    .popup {
        font-size: 12px;
    }

    .close-popup {
        top: 10px;
        right: 10px;
    }
}

@media screen and (width <= 495px) and (width >=375px) {
    #svg-container {
        height: 320px;
    }
}

@media screen and (width <= 375px) {
    #svg-container {
        height: 250px;
    }
}