@media screen and (width <= 1005px)  {
    .maincontainer {
        height: 80vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .maincontainer img {
        width: 80vw;
        height: 40vh;
        object-fit: cover;
        margin-right: 0;
    }

    button {
        width: 30%;
    }
}

@media screen and (height <= 760px) and (width <= 633px) {
    .maincontainer {
        height: 100vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    button {
        height: 8vh;
        width: 50%;
    }

    .maincontainer div {
        font-size: 18px;
    }
}

@media screen and (width <= 700px) {
    button {
        width: 70%;
    }
}

@media screen and (width <= 768px) {
    body {
        padding-top: 70px;
    }
}