@media screen and (max-width: 1433px) and (min-width: 1148px) {
    
    .dateblock {
        padding: 2% 25%;
    }
}
@media screen and (max-width: 1148px) and (min-width: 952px) {

    .dateblock {
        padding: 2% 20%;
    }
}
@media screen and (max-width: 952px) and (min-width: 816px) {

    .dateblock {
        padding: 2% 15%;
    }
}
@media screen and (max-width: 816px) {

    .dateblock {
        flex-direction: column;
        padding: 2% 0;
        align-content: center;
        gap: 14%
    }

    .day {
        text-align: center;
    }
}
@media screen and (max-width: 575px) {

    .dateblock .day {
        font-size: 21px;
    }
}

@media screen and (max-width: 768px) and (min-width: 482px) {

    .inform {
        font-size: 21px;
    }

    .zagolov {
        font-size: 36px;
    }
}

@media screen and (max-width: 482px) {

    .inform {
        font-size: 16px;
        top: 35%;
    }

    .zagolov {
        font-size: 28px;
    }
}

@media screen and (max-width: 562px) {

    .informblock h1, .photo h1 {
        font-size: 24px;
    }

    .informblock .inform__perfomance {
        font-size: 16px;
    }

    .photo .cart {
        align-items: center;
        flex-direction: column;
    }
    
    .photo img {
        width: 65%;
        height: 40vh;
        object-fit: cover;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 1140px) and (min-width: 887px) {

    .references .refs {
        gap: 3%;
    }

    .references .ref1, .references .ref2, .references .ref3 {
        width: 30%;
    }
}

@media screen and (max-width: 887px) and (min-width: 427px) {

    .references .refs {
        flex-direction: column;
        align-items: center;
    }

    .references .ref1, .references .ref2, .references .ref3 {
        width: 60%;
        margin-bottom: 2%;
    }

    .references .ref1 img, .references .ref2 img, .references .ref3 img {
        width: 10vw;
        height: 9vh;
    }
}

@media screen and (max-width: 427px) {

    .references .refs {
        flex-direction: column;
        align-items: center;
    }

    .references .ref1, .references .ref2, .references .ref3 {
        width: 80%;
        margin-bottom: 2%;
    }

    .references .ref1 img, .references .ref2 img, .references .ref3 img {
        width: 13vw;
        height: 8vh;
    }
}

@media screen and (max-width: 600px) {

    .form {
        width: 80%;
    }

    input, textarea {
        width: 90%;
    }

    .form button {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) and (min-width: 465px) {

    .button_date {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 566px) and (min-width: 465px) {

    .button_date {
        font-size: 14px;
    }
}

@media screen and (max-width: 465px) {
    
    .button_date {
        font-size: 12px;
        width: 60%;
        padding: 10px 10px;
    }

    .dateblock .day {
        width: 60%;
    }
}