

@media screen and (max-width: 1170px) and (min-width: 955px) {

    #informpart #title, #informpart #time, #informpart .theatre {
            font-size: 21px;
        }
}

@media screen and (max-width: 955px) and (min-width: 620px) {

    #informpart #title, #informpart #time, #informpart .theatre {
            font-size: 16px;
        }
}

@media screen and (max-width: 620px) {

    #informpart #title, #informpart #time, #informpart .theatre {
            font-size: 16px;
        }

        #informpart {
            text-align: center;
        }

    .empty {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {

    .firsthalf {
        width: 90%;
        margin-bottom: 2%;
        height: auto;
    }

    #svg-container {
        margin-top: 5%;
    }

    #informpart {
        height: 20%;
    }

    .secondhalf {
        width: 90%;
        border-left: 0;
        padding-top: 5%;
        height: auto;
        margin-bottom: 5%;
    }

    body {
        height: 200vh;
        padding-bottom: 3%;
    }

    .containertickets {
        height: 190vh;
    }

    #basketpart {
        height: auto;
        overflow:hidden;
    }

    #cointer {
        border-top: 0;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #cointer button {
        height: 8vh;
        font-size: 12px;
    }

    .containertickets {
        height: auto;
    }

    #basketpart div {
        padding-left: 3%;
    }

    .form {
        flex-direction: column;
    }

    .contacts {
        width: 90%;
    }

    .radioinput {
        width: 90%;
    }

    .form button {
        margin-top: 2vh;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px){

    .popup {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {

    .form button {
        align-self: flex-start;
    }

    .form {
        width: 90%;
    }

    .popup {
        font-size: 12px;
    }

    .close-popup {
        top: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 495px) and (min-width: 375px) {

    #svg-container {
        height: 320px;
    }
}

@media screen and (max-width: 375px) {
    
    #svg-container {
        height: 250px;
    }
}